/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2 */
@import "bootstrap-sprockets";
/*@import 'bootswatch/cosmo/variables'; */
@import "bootstrap/mixins";
@import 'bootstrap';
/*@import "bootswatch/cosmo/bootswatch"; */
@import 'bootstrap-datetimepicker';
@import "font-awesome";


.banner {
    background: url('header-bg.png') repeat-x;
    height: 57px;
    ul.nav > li
    {
        span {font-size: 16px; color: #fff;}
        a.dropdown-toggle {color: #fff; font-size: 16px;}
        border-right: 2px, solid, #fff;
        padding-left: 10px;
        a:hover, a:focus {
            text-decoration: none;
            background-color: transparent;
        }
    }
}

.sub-header {
    height: 37px;
    background:url(header-nav-bg.png) repeat-x;
    padding-right: 15px;
    ul.nav > li
    {
        background:url(header-nav-style.png) right no-repeat;
        margin-bottom: 5px;
        height: 36px;
        span {font-size: 12px; color: #333;}
        a
        {
            height: inherit;
            width :auto;
            padding-top: 6px;
            color: #333;
            font-size: 12px;
            &:hover {
                background:url(header-nav-hover.png) repeat-x;
            }
        }
    }
}

body {
    margin:0px;
    padding:0px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333;
    background:#ebebeb;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

footer {
    text-align: center;
    margin: 0px;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    line-height: 24px;
    font-size: 11px;

}


.cnt-wrapper {
    width:98%;
    height:auto;
    float:left;
    margin:0% 1%;
}

.modal-lg {
    width: 85%;
}

.panel-group {
    .reports         {
        @include gradient-vertical(white, #e8e8e8, 0%, 100%);
    }
    .panel{
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        border-radius: 0px;
    }
    .panel-title{
      font-size: 13px;
      line-height: 22px;
    }
    .panel-heading{
        padding: 6px 10px;
        color: #535353;
    }
}
.modal-content {
    padding: 10px 10px;
}
.edit_user  {
    .form-control
    {
    width: 220px;
    }
    h5 {
        color: #0072c4;
        border-bottom: #cdcdcd 1px solid;
        padding-bottom: 8px;
        width: 1000px;
        margin: 20px auto;
    }
    .form-group{
        .col-sm-6 {
          padding-left: 0px !important;
        }
    }
}
.edit_project {
 @extend .edit_user
 }

.users {
    width: 70%;
    align: center;
    margin-left: 15%;
}

.input-group-addon{
  width: 0%;
}