@import 'bootswatch/cerulean/variables';
@import 'bootstrap';
@import "bootswatch/cerulean/bootswatch";

.glyphicon-user{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
 }



a.logo{
  color: white;
}

a.logo:hover{
  text-decoration: none;
}
