@import 'bootswatch/cosmo/variables';
@import 'bootstrap';
@import "bootswatch/cosmo/bootswatch";





a.logo{
  color: white;
}

a.logo:hover{
  text-decoration: none;
}

.duplicatable_nested_form{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding-top: 10px;
	margin-bottom: 4px;
}

.link-underline{
	text-decoration: underline;
}


h3, h4, h5 {
    font-weight: 400;
}