<h1>Users</h1>
<table class="table table-striped" id='users_list'>
 <thead>
  <tr>
    <th>User Name</th>
        <th>
      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user| -%>
      <%= render :partial => 'user', :locals => {:user => user} %>
    <% end -%>
  </tbody>
</table>
<button class='btn btn-primary' id = "new_form">New</button>
<div id="new_user_form" style="display:none;">
 <h3> Creating User</h3>
  <%= render :partial => "new", :locals => {:user => User.new}%>
</div>


<script type = "text/javascript">

  $("#new_form").click(function(){
    $("#new_user_form").css("display", "block");
    $(this).hide();
  })

</script>
